/* РАЗМЕЩЕНИЕ ЭЛЕМЕНТОВ СТРАНИЦЫ И ОБЩИЕ СТИЛИ====================================================================================== */
body {
  display: grid;
  grid-template: minmax(200px, auto) 1fr minmax(200px, auto) / 1fr;
}

.container {
  width: 1340px;
  margin: 0 auto;
}
.text-align-center {
  text-align: center;
  padding: 10px 30px 0 0;
}
.text-align-right {
  text-align: right;
  margin-top: 10px;
  margin-right: -30px;
}
.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4.5px;
}
.address__list {
  list-style: none;
}
.links-item_active .header__link,
.links-item_active .footer__link {
  text-decoration: none;
}
.links-item_no-bullit {
  list-style: none;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.letter-spacing{
  /* padding: 0 0 0 30px; */
  padding-left: 30px;
}
/* ШАПКА САЙТА====================================================================================== */
.header {
  font-size: 18px;
  font-weight: 400;
}
.header__container {
  padding: 80px 0 90px;

  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  align-items: center;
}
.header__links-list {
  display: flex;
  gap: 32px;

  text-underline-offset: 4.5px;
  list-style-type: circle;
}
.header__logo {
  justify-self: center;
  max-width: 148px;
}
.header__address {
  justify-self: end;
}

/* СЕКЦИЯ С БАННЕРОМ ====================================================================================*/
.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  position: relative;
}

.cover__container {
  position: relative;
  z-index: 1;
}
.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 0 85px;
  display: flex;
  flex-direction: column;
}
.accent-span {
  display: block;

  letter-spacing: 30px;
}
.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;

  padding: 40px 0 50px;
}
.cover__descripton-text {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}
.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;

  cursor: pointer;
}
/* СЕКЦИЯ С ЛОТАМИ==================================================================================== */
.lots__container {
  padding: 180px 0px 90px;
}
.lots__title {
  padding: 0 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.lots__card-list {
  margin: 25px 0 30px;
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr;
  gap: 25px;

  list-style: none;
}
.card-link {
  text-decoration: none;
}
.card {
  position: relative;
  min-height: 450px;
}
.card__container {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 50px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 30px;
}
.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
}
.lots__look-more-link {
  padding: 0 40px;
  text-underline-offset: 4.5px;
  font-size: 20px;
}
/* СЕКЦИЯ О АУКЦИОНЕ=============================================================================== */
.about__container {
  padding: 90px 0;
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 25px;
}
.about__logo {
  background-color: black;
  margin: 0 95px;
  border-radius: 50%;
  width: 240px;
  height: 240px;

  display: grid;
  place-items: center;
}
.about__logo-image {
  position: relative;
  width: 148px;
}
.about__title {
  padding: 100px 0;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
}
/* ПОДВАЛ САЙТА====================================================================================== */
.footer {
  font-size: 18px;
  font-weight: 400;
}
.footer__container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);

  padding: 90px 0;
}
.footer__menu {
  justify-self: center;
  text-underline-offset: 4.5px;
}
.footer__links-list {
  text-align: center;
  list-style: none;
}
.footer__social {
  justify-self: end;
}
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
.footer__social-link-icon {
  width: 48px;
}
